<key>CFBundleDocumentTypes</key>
<array>
  <dict>
    <key>CFBundleTypeExtensions</key>
    <array>
      <string>pdf</string>
    </array>
    <key>CFBundleTypeName</key>
    <string>PDF Document</string>
    <key>CFBundleTypeRole</key>
    <string>Viewer</string>
    <key>LSHandlerRank</key>
    <string>Default</string>
  </dict>
  <dict>
    <key>CFBundleTypeExtensions</key>
    <array>
      <string>docx</string>
      <string>doc</string>
    </array>
    <key>CFBundleTypeName</key>
    <string>Word Document</string>
    <key>CFBundleTypeRole</key>
    <string>Viewer</string>
    <key>LSHandlerRank</key>
    <string>Default</string>
  </dict>
</array>